.app-layout {
  height: 100%;
  width: 100%;
  &--main {
    line-height: 32px;
    .app-page {
      padding: 0 40px;
      box-sizing: border-box;
      overflow: auto;
    }
    .app-layout__view {
      height: 100%;
      overflow: hidden;
    }
    .left-side {
      width: 240px;
      height: 100%;
      float: left;
      padding: 56px 0;
      box-sizing: border-box;
      border-right: 1px solid $color-border-light;
    }
    // .app-section {
    //   &__header {
    //     margin-bottom: 20px;
    //   }
    // }
  }
  &--auth {
    line-height: 32px;
  }
}

.app-page {
  width: 100%;
  height: 100%;
}
