// 布局相关
$header-height: 32px;

// 颜色相关
$color-primary: #8C4022;
$color-text-primary: #8F6C5E;
$color-success: #08CFBB;
$color-warning: #588482;
$color-danger: #F74343;
$color-info: #FF5EA9;
$color-border-light: #E4E7ED;

// 响应式相关
$md-lg: 1448px;
$sm-md: 1080px;
$xs-sm: 690px;